<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnError="false"
>
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="backupGlobals" value="false" />
        <server name="backupStaticAttributes" value="false" />
        <server name="forceCoversAnnotation" value="true" />
    </php>

</phpunit>